<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="static/img/favicon.png">
    <title>Text Classification</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.min.css" rel="stylesheet">
      <link rel="stylesheet" href="static/css/custom.css">

  </head>

  <body id="page-top">

    <header class="masthead text-center text-white d-flex">
      <div class="container" style="padding-top: 50px">
          <form action="/classify/" method="post">
          <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2 class="text-uppercase">
              <strong>Classify News Article 📰</strong>
            </h2>
            <hr>

            <div class="form-group">
              <label for="text"><strong>Text to Classify:</strong></label>
              <textarea class="form-control" id="text" style="height: 300px" aria-describedby="textHelp" name="text"></textarea>
            </div>
          </div>
          <div class="col-md-6 mx-auto">
                    <div class="form-group">
                        <div class="mb-1"><strong>Select Model(s):</strong></div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox[]" value="multinomial_nb" id="check-multinomial_nb" checked>
                            <label class="form-check-label" for="check-multinomial_nb">Multinomial Naive Bayes Classifer</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="model-checkbox[]" value="gcnn_chebyshev" id="check-gcnn_chebyshev" checked>
                            <label class="form-check-label" for="check-gcnn_chebyshev">Graph CNN (Chebyshev)</label>
                        </div>
                      </br>
                        <!-- <button type="submit" class="btn btn-primary btn-block js-scroll-trigger" href="#about" id="submit-btn" onclick="submit();">Submit</button> -->
                        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about" id="submit-btn" onclick="submit();">Submit</a>
                    </div>
                </div>
        </div>
          </form>
      </div>
    </header>

    <section style="background-color:grey" id="about">
      <div class="container">
        <div class="row">
<!--           <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div> -->
          <div class="col-md-6 mx-auto text-center">
                    <div id="results-section" style="display: none;">
                        <h2 class="section-heading text-white">We've got what you need!</h2>
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-12" id="results"></div>
                        </div>
                        {{% for foo in _res %}
                        <div class="alert alert-primary result" id="result-template">
                            <strong>Model Name:foo.Name</strong> Class Name (foo.Probability %)
                        </div>
                        {% endfor %}
                        <div class="row justify-content-center mt-4 mb-3">
                            <div class="col-md-3 col-8">
                                <button type="submit" class="btn btn-warning btn-block" id="clear-btn" onclick="clearResults();">Clear</button>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>
    <script src="static/js/main.js"></script>

  </body>

</html>
